<div>
    <h3>velocity example code</h3>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>status</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
            #foreach($book in $books)
            <tr>
                <td>$book.name</td>
                #if($book.status == "CanRent")
                    <td>일반</td>
                #elseif($book.status == "RentNow")
                    <td>대여중</td>
                #else
                    <td>분실</td>
                #end
                <td>$book.comment</td>
            </tr>
            #end
        </tbody>
    </table>
</div>