<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <script src="../../lib/js/angular.min.js"></script>
</head>
<body>
    <form ng-submit="requestFunding()" ng-controller="StartUpController">
        창업 예산: <input ng-model="funding.startingEstimate">
        권장 자본금: {{funding.needed}}
        <button>저의 창업에 투자해주세요!</button>
        <button ng-click="reset()">초기화</button>
    </form>
    <script>
        var MyAppModule = angular.module('myApp', []);
        MyAppModule.controller('StartUpController',
                function ($scope) {
                    $scope.funding = {
                        startingEstimate: 0
                    };

                    $scope.$watch('funding.startingEstimate',
                            function () {
                                $scope.funding.needed = $scope.funding.startingEstimate * 10;
                            });

                    $scope.requestFunding = function () {
                        window.alert("안됐지만 고객부터 더 모으세요.");
                    }

                    $scope.reset = function () {
                        $scope.funding.startingEstimate = 0;
                    }
                });
    </script>
</body>
</html>